<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #48cae4"
>
  <div class="container-fluid">
    <img src="/Images/logo.png" style="width: 150px; margin-right: 20px;">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
</nav>
